.videoContainer {
  background: #141414;

  iframe {
    height: 700px;
    width: 100%;
    background: linear-gradient();
  }
}

.blurContainer {
  height: 60px;
  position: absolute;
  top: 670px;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
