.videoContainer {
  background: #141414;

  iframe {
    height: 700px;
    width: 100%;
    pointer-events: none;
  }
}

.blurContainer {
  height: 200px;
  position: absolute;
  top: 590px;
  width: 100%;
  z-index: 1;
  background: linear-gradient(
    rgba(20, 20, 20, 0),
    rgba(20, 20, 20, 0.1),
    rgba(20, 20, 20, 0.2),
    rgba(20, 20, 20, 0.3),
    rgba(20, 20, 20, 0.4),
    rgba(20, 20, 20, 0.5),
    rgba(20, 20, 20, 0.6),
    rgba(20, 20, 20, 0.5),
    rgba(20, 20, 20, 0.4),
    rgba(20, 20, 20, 0.3),
    rgba(20, 20, 20, 0.2),
    rgba(20, 20, 20, 0.1),
    rgba(20, 20, 20, 0)
  );
  backdrop-filter: blur(4px);
}
